{% load static %}
<!DOCTYPE html>
<html>
  <head>
    <link href='https://fonts.googleapis.com/css?family=Source+Sans+Pro:400,600,700,300' rel='stylesheet' type='text/css'>
    <script src="https://use.typekit.net/hoy3lrg.js"></script>
    <script>try{Typekit.load({ async: true });}catch(e){}</script>
    <link rel='stylesheet prefetch' href='https://cdnjs.cloudflare.com/ajax/libs/meyer-reset/2.0/reset.min.css'>
    <link rel='stylesheet prefetch' href='https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.6.2/css/font-awesome.min.css'>
    <link href="//maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" rel="stylesheet" id="bootstrap-css">
    <script src="//maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js"></script>
    <script src="//cdnjs.cloudflare.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
    <link href="//netdna.bootstrapcdn.com/bootstrap/3.0.0/css/bootstrap.min.css" rel="stylesheet" id="bootstrap-css">
    <script src="//netdna.bootstrapcdn.com/bootstrap/3.0.0/js/bootstrap.min.js"></script>
    <script src="//code.jquery.com/jquery-1.11.1.min.js"></script>
    <link rel="stylesheet" href="{% static 'style.css' %}" />
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
  </head>

<body>
  <div id="frame">
    <div id="sidepanel">
      <div id="profile">
        <div class="wrap">

        </div>
      </div>
      <div id="search">
        <label for=""><i class="fa fa-search" aria-hidden="true"></i></label>
        <input type="text" placeholder="Search rooms..." />
      </div>
      <div id="contacts">
        <ul>
            {% for room_list in room  %}
                <li class="contact" onclick='onclickRoom(this);'>
                    <div class="wrap">
                        <div class="meta">
                            <p class="name room">{{ room_list.room }}</p>
                            <p class="preview">{{ room_list.room_description }}</p>
                        </div>
                    </div>
                </li>
            {% endfor %}
        </ul>
      </div>
      <div id="bottom-bar">
        <button id="addcontact"><i class="fa fa-user-plus fa-fw" aria-hidden="true"></i> <span>Add contact</span></button>
        <button id="settings"><i class="fa fa-cog fa-fw" aria-hidden="true"></i> <span>Settings</span></button>
      </div>
    </div>
    <div class="content">
      <div class="contact-profile">

        <p class="room_name" style="padding-left: 15px;"></p>
        <div class="social-media">
          <i class="fa fa-facebook" aria-hidden="true"></i>
          <i class="fa fa-twitter" aria-hidden="true"></i>
          <i class="fa fa-instagram" aria-hidden="true"></i>
        </div>
      </div>
      <div class="messages" onscroll="onDivScroll(this)" style="padding-bottom: 50px;">
        <ul id="chat-log">
        </ul>
      </div>
      <div class="message-input">
        <div class="wrap">
        <input id="chat-message-input" type="text" placeholder="Write your message..." />
        <i class="fa fa-paperclip attachment" aria-hidden="true"></i>
        <button id="chat-message-submit" class="submit">
          <i class="fa fa-paper-plane" aria-hidden="true"></i>
        </button>
        </div>
      </div>
    </div>
  </div>

<script src="{% static 'main.js' %}"></script>

    <script>
        let _loading = false;
        let _msg_limit_from = 10;

        function onDivScroll(selector) {
            if($('.messages').scrollTop()< 7){

                if(!_loading){
                    _loading = true;
                    console.log("fetching")
                    chatSocket.send(JSON.stringify({
                        'command':'conversation_history',
                        'room': roomName,
                        'msg_limit_from':_msg_limit_from,
                        'msg_limit_to':_msg_limit_from+10,
                    }));
                }

            }
        }

        const username = {{ username }};
        let roomName = '';

        let chatSocket;

        function onclickRoom(selector){
             $('#chat-log').html('')
            try{
                chatSocket.onclose
            }
            catch(e){}

            roomName = $(selector).find('.room').text();
            $('.room_name').text(roomName)
            if(roomName!==''){
               chatSocket = new WebSocket(
                    'ws://'
                    + window.location.host
                    + '/ws/chat/'
                    + roomName
                    + '/'
            );

            chatSocket.onopen = function(event) {
                chatSocket.send(JSON.stringify({
                    'command':'messages_on_load',
                    'room': roomName
                }));
            };

            chatSocket.onmessage = function(e) {
                const data = JSON.parse(e.data);

                let chatcolor = "sent";


                if(data.command=='new_messages'){
                    if(data.author===username){
                        chatcolor = "replies";
                    }
                    var a = '<li class="'+chatcolor+'"><img src="http://emilcarlsson.se/assets/harveyspecter.png" alt="" /><p> ' + data.message + '</p></li>'
                    $('#chat-log').append(a)
                    scrollDown();
                }
                else if(data.command=='messages_on_load') {
                    data.messages.map(function(key, value){
                        if(key.author===username){
                            chatcolor = "replies";
                        }
                        var msg = '<li class="'+chatcolor+'"><img src="http://emilcarlsson.se/assets/harveyspecter.png" alt="" /><p> ' + key.message + '</p></li>'
                        $('#chat-log').prepend(msg)
                        })
                    scrollDown();
                }
                else if(data.command=='conversation_history') {

                    data.messages.map(function(key, value){
                        if(key.author===username){
                            chatcolor = "replies";
                        }
                        var msg = '<li class="'+chatcolor+'"><img src="http://emilcarlsson.se/assets/harveyspecter.png" alt="" /><p> ' + key.message + '</p></li>'
                        $('#chat-log').prepend(msg)
                        })
                    console.log("fetch complete")
                    _msg_limit_from = _msg_limit_from + 10;
                    _loading = false;
                }



            };
          }

      }

        $('#chat-message-input').focus();

        $('#chat-message-input').keyup(function(e) {
            if (e.keyCode === 13) {  // enter, return
                $('#chat-message-submit').click();
            }
        }) ;

        $('#chat-message-submit').click(function(e) {
            const message = $('#chat-message-input').val();
        });

        $('#chat-message-submit').click(function(e) {
            const message = $('#chat-message-input').val();

            chatSocket.send(JSON.stringify({
                'message': message,
                'from': username,
                'room': roomName,
                'command':'new_messages'
            }));
            $('#chat-message-input').val('');
        });

        function scrollDown(){
            console.log("hitting scroll down")
            $(".messages").animate({ scrollTop: $('.messages').prop("scrollHeight")}, 1000);
        }



    </script>

</body>

</html>