<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8"/>
    <title>Chat Room</title>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
</head>
<body>
    <textarea id="chat-log" cols="100" rows="20"></textarea><br>
    <input id="chat-message-input" type="text" size="100"><br>
    <input id="chat-message-submit" type="button" value="Send">
    {{ room_name|json_script:"room-name" }}

    <h1>Room: {{ room_name_json }}</h1>
    <h3>User: {{ username }}</h3>

    <script>

        const username = {{ username }};
        const roomName = {{ room_name_json }};

        const chatSocket = new WebSocket(
            'ws://'
            + window.location.host
            + '/ws/chat/'
            + roomName
            + '/'
        );

        chatSocket.onopen = function(event) {
            console.log("Socket Connected")
            chatSocket.send(JSON.stringify({
                'command':'previous_messages',
                'room': roomName
            }));
        };

        chatSocket.onmessage = function(e) {
            const data = JSON.parse(e.data);
            console.log(data)
            if(data.command=='new_messages'){
               {#document.querySelector('#chat-log').value += (data.author + ':' + data.message + '\n');#}
                $('#chat-log').val( $('#chat-log').val() + (data.author + ':' + data.message + '\n'));
            }
            else if(data.command=='previous_messages') {
                data.messages.map(function(key, value){
                     {#document.querySelector('#chat-log').value += (key.timestamp.substr(0,16) +':'+ key.author + ':' + key.message + '\n');#}
                     $('#chat-log').val( $('#chat-log').val()  + (key.timestamp.substr(0,16) +':'+ key.author + ':' + key.message + '\n')) ;
                })
            }

        };

        chatSocket.onclose = function(e) {
            console.error('Chat socket closed unexpectedly');
        };

        $('#chat-message-input').focus();
        $('#chat-message-input').keyup(function(e) {
            if (e.keyCode === 13) {  // enter, return
                $('#chat-message-submit').click();
            }
        }) ;

        $('#chat-message-submit').click(function(e) {
            const message = $('#chat-message-input').val();

            chatSocket.send(JSON.stringify({
                'message': message,
                'from': username,
                'room': roomName,
                'command':'new_messages'
            }));
            $('#chat-message-input').val('');
        });
    </script>
</body>
</html>